<div class="storage">
  <div class="header">
    <h4 class="table-title">{{storageLanguage.storageSynopsis}}</h4>
    <div class="storage-num-box">
      <!--物料总数-->
      <div class="storage-num">
        <div class="number single">{{storageTotalNumModel.materialTotal}}</div>
        <div class="content">{{storageLanguage.materialTotal}}</div>
      </div>
      <!--设施总数-->
      <div class="storage-num">
        <div class="number centre">{{storageTotalNumModel.deviceTotal}}</div>
        <div class="content">{{storageLanguage.deviceTotal}}</div>
      </div>
      <!--设备总数-->
      <div class="storage-num">
        <div class="number">{{storageTotalNumModel.equipmentTotal}}</div>
        <div class="content">{{storageLanguage.equipmentTotal}}</div>
      </div>
      <!--其他-->
      <div class="storage-num">
        <div class="number other">{{storageTotalNumModel.otherTotal}}</div>
        <div class="content">{{storageLanguage.otherTotal}}</div>
      </div>
    </div>
  </div>
  <div class="table" *ngIf="!isShowCharts">
    <!--表格-->
    <xc-table
      [dataSet]="dataSet"
      [pageBean]="pageBean"
      [tableConfig]="tableConfig"
      (pageChange)="pageChange($event)">
    </xc-table>
  </div>
  <!-- 统计图-->
  <app-storage-synopsis-chart #storageChart [hidden]="!isShowCharts"
                              [isNeedTimeSelect]="false"
                              (switchTable)="isShowCharts = false"
  ></app-storage-synopsis-chart>
</div>

<!--设备和设施图标样式-->
<ng-template #materialType let-data="data">
  <i class="device-type-icon" [ngClass]="data.iconClass"></i>
  <span *ngIf="data.materialType === materialTypeEnum.facility" class="status-text"
        title="{{data.materialCode | translate: deviceTypeEnum: 'facility.config'}}">
    {{data.materialCode | translate: deviceTypeEnum: 'facility.config'}}
  </span>
  <span *ngIf="data.materialType === materialTypeEnum.equipment" class="status-text"
        title="{{data.materialCode | translate: equipmentTypeEnum: languageEnum.facility}}">
    {{data.materialCode | translate: equipmentTypeEnum: languageEnum.facility}}
  </span>
</ng-template>
<ng-template #unitPriceTemp let-data="data">
  <span>{{data.materialUnitPrice | number: '1.2-2'}}</span>
</ng-template>
<!--供应商列表-->
<ng-template #supplierTemp let-filterValue="filterValue">
  <input type="text" nz-input placeholder="{{commonLanguage.clickSelect}}" readonly class="cursor-pointer"
         (click)="openSupplierSelector(filterValue)" [(ngModel)]="filterValue.filterName || selectSupplierObject.name" />
</ng-template>
<app-select-supplier
  *ngIf="isShowSupplier"
  [(isVisible)]="isShowSupplier"
  [selectSupplierList]="selectSupplierList"
  (isVisibleChange)="isShowSupplier=false"
  (selectDataChange)="onSelectSupplier($event)">
</app-select-supplier>
<!--规格型号选择-->
<ng-template #materialModelTemp let-filterValue="filterValue">
  <input type="text" nz-input placeholder="{{commonLanguage.clickSelect}}" readonly class="cursor-pointer"
         (click)="openMaterialModel(filterValue)" [(ngModel)]="filterValue.filterName || selectModelObject.name" />
</ng-template>
<app-material-model *ngIf="isShowModel"
                    [(isVisible)]="isShowModel"
                    [filterConditionSource]="modelFilterCondition"
                    [selectIds]="selectModelId"
                    [productTypeDataSource]="productTypeDataSource"
                    (handleOkEvent)="handleModelOk($event)">
</app-material-model>
