<!--form表单-->
<div class="asset-failure-distribution-condition">
  <div class="asset-failure-distribution-form">
    <xc-form [column]="formColumn"
             (formInstance)="formInstance($event)">
    </xc-form>
  </div>
</div>

<!-- 资产类别选择模板 -->
<ng-template #selectAssetType let-formGroup="formGroup" let-selectedList>
  <nz-select
          [nzMaxTagCount]="2"
          class="select-width"
          nzMode="multiple"
          nzPlaceHolder="{{language.assetAnalysis.pleaseChoose}}"
          (ngModelChange)="onChangeAssetType($event)"
          [(ngModel)]="assetTypeSelectData">
    <nz-option *ngFor="let option of assetTypeData" [nzLabel]="option.label"
               [nzValue]="option.code"></nz-option>
  </nz-select>
</ng-template>

<!--区域选择器点击按钮-->
<ng-template #AreaSelectRef let-formGroup="formGroup" let-col="col">
  <div>
    <input nz-input type="text" readonly [(ngModel)]="areaName">
    <button type="button" class="search" (click)="showAreaSelect()"><i
            class="icon-l icon-search"></i></button>
  </div>

</ng-template>

<!--  型号选择 -->
<ng-template #chooseTypeRef let-formGroup="formGroup" let-col="col">
  <div>
    <input nz-input type="text" readonly [(ngModel)]="productName">
    <button type="button" class="search" (click)="showProductSelectorModal()"><i
            class="icon-l icon-search"></i></button>
  </div>
</ng-template>

<!--项目选择器点击按钮-->
<ng-template #ProjectSelectRef let-formGroup="formGroup" let-col="col">
  <div>
    <input nz-input type="text" readonly [(ngModel)]="projectName">
    <button type="button" class="search" (click)="showProjectSelect()"><i
            class="icon-l icon-search"></i></button>
  </div>

</ng-template>

<nz-modal
        [(nzVisible)]="isShowProjectList"
        [nzTitle]="projectModalTitle"
        [nzContent]="projectModalContent"
        [nzFooter]="projectModalFooter"
        [nzClosable]= "true"
        [nzKeyboard]="false"
        [nzMaskClosable]="false"
        (nzOnCancel)= "handleCancelProjectList()"
        [nzWidth]="900">
  <ng-template #projectModalTitle>
    <div>{{this.language.assetAnalysis.selectProject}}</div>
  </ng-template>
  <ng-template #projectModalContent>
    <xc-table #projectListTable
              [dataSet] ="dataSet"
              [pageBean]="projectPageBean"
              [tableConfig]="projectTableConfig"
              (pageChange)="projectPageChange($event)">
    </xc-table>
  </ng-template>
  <ng-template #projectModalFooter>
    <button nz-button nzType="primary" class="link-button" (click)="handleCancelProjectList()">{{this.language.okText}}</button>
    <button nz-button nzType="danger" class="link-button" (click)="handleCancelProjectList()">{{this.language.cancelText}}</button>
  </ng-template>
</nz-modal>

<!--项目状态模板-->
<ng-template #projectStatusTemp let-data="data">
  <div class="area-level">
    <i [class]="'iconfont '+data.statusIconClass "></i>
    <span [ngStyle]="data.rowStyle" class="status-text"
          title="{{data.status | translate: projectStatusEnum: languageEnum.planProject}}">
      {{data.status | translate: projectStatusEnum: languageEnum.planProject}}
    </span>
  </div>
</ng-template>

<!--设备和设施图标样式-->
<ng-template #productTypeTemplate let-data="data">
  <i class="device-type-icon" [ngClass]="data.iconClass"></i>
  <span *ngIf="data.typeFlag === productTypeEnum.facility" class="status-text"
        title="{{data.typeCode | translate: deviceTypeEnum: 'facility.config'}}">
    {{data.typeCode | translate: deviceTypeEnum: 'facility.config'}}
  </span>
  <span *ngIf="data.typeFlag === productTypeEnum.equipment" class="status-text"
        title="{{data.typeCode | translate: equipmentTypeEnum: languageEnum.facility}}">
    {{data.typeCode | translate: equipmentTypeEnum: languageEnum.facility}}
  </span>
</ng-template>

<!--日增长率时间选择-->
<ng-template #dailySelectTime>
  <div>
    <nz-range-picker [(ngModel)]="date"
                     (ngModelChange)="onChange($event)"
                     [nzDisabledDate]="disabledEndDate">
    </nz-range-picker>
  </div>
</ng-template>

<!--月增长率时间选择-->
<ng-template #SelectTime>
  <div>
    <nz-month-picker [(ngModel)]="date[0]"
                     (ngModelChange)="onChange($event)"
                     [nzDisabledDate]="disabledEndDate"></nz-month-picker>
    <span class="time-space">~</span>
    <nz-month-picker [(ngModel)]="date[1]"
                     (ngModelChange)="onChange($event)"
                     [nzDisabledDate]="disabledEndDate"></nz-month-picker>
  </div>
</ng-template>

<!--年增长率时间选择-->
<ng-template #yearSelectTime>
  <div>
    <nz-year-picker [(ngModel)]="date[0]"
                    (ngModelChange)="onChange($event)"
                    [nzDisabledDate]="disabledEndDate"></nz-year-picker>
    <span class="time-space">~</span>
    <nz-year-picker [(ngModel)]="date[1]"
                    (ngModelChange)="onChange($event)"
                    [nzDisabledDate]="disabledEndDate"></nz-year-picker>
  </div>
</ng-template>

<ng-template #buttonTemplate>
  <div class="asset-failure-distribution-button">
    <button nz-button nzType="primary" class="operation-button-size" (click)="assetFailureDistributionAnalysis()" [disabled]="isClick">{{language.assetAnalysis.analysis}}</button>
    <button nz-button nzType="danger"  class="operation-button" (click)="reset()">{{language.assetAnalysis.reset}}</button>
  </div>
</ng-template>

<!--计量单位的模版-->
<ng-template #unitTemplate let-data="data">
  <span>{{data.unit | translate: productUnitEnum:  languageEnum.product}}</span>
</ng-template>

<!--区域选择器-->
<xc-tree-selector
        [(xcVisible)]="isVisible"
        (selectDataChange)="selectDataChange($event)"
        [treeSelectorConfig]="treeSelectorConfig">
</xc-tree-selector>

<nz-modal
        [(nzVisible)]="isShow"
        [nzTitle]="modalTitle"
        [nzContent]="modalContent"
        [nzFooter]="modalFooter"
        [nzClosable]= "true"
        [nzKeyboard]="false"
        [nzMaskClosable]="false"
        (nzOnCancel)= "handleCancel()"
        [nzWidth]="900">
  <ng-template #modalTitle>
    <div>{{this.language.assetAnalysis.chooseType}}</div>
  </ng-template>
  <ng-template #modalContent>
    <xc-table #productListTable
              [dataSet] ="_dataSet"
              [pageBean]="pageBean"
              [tableConfig]="tableConfig"
              (pageChange)="productPageChange($event)">
    </xc-table>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" class="link-button" (click)="handleCancel()">{{this.language.okText}}</button>
    <button nz-button nzType="danger" class="link-button" (click)="handleCancel()">{{this.language.cancelText}}</button>
  </ng-template>
</nz-modal>
