.shift-add {
  .footer {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 20px;

    .submit-btn {
      margin-right: 20px
    }
  }
}
.time-range-wrap {
  .time-space {
    margin: 0 8px;
  }
}
