.confirmInfo-box {
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  position: relative;
  i {
    width: 20px;
    height: 20px  ;
    position: absolute;
    left: -20px;
  }
}
.pad-l-20 {
  padding-left: 20px;
}
