<div class="planning-point-container">
  <div class="project-detail">
    <span class="page-title">
      {{ language.editProjectPoint }}
    </span>
  </div>
  <div class="mar-l16 button-box">
    <!-- 添加规划按钮-->
    <button class="link-button margin-right20" nz-button nzType="primary"
            (click)="OpenPlanListWindow()">+{{language.addPlan}}
    </button>
  </div>

  <div class="map-container">
    <!-- 地图左上角搜索-->
    <app-map-search [options]="[]"></app-map-search>
    <!-- 点位地图-->
    <div id="planningPointMap"></div>


    <!--地图右上角操作按钮-->
    <div class="map-button-box">
      <ul>
        <!-- 显示隐藏已选规划和智慧杆列表按钮-->
        <li class="map-button">
          <div class="icon-fiLink iconfont fiLink-overview fz-19"
               (click)="isShowSelect = !isShowSelect; pointStatusPanelShow = false"></div>
        </li>
        <!-- 添加规划点位按钮-->
        <li class="map-button" (click)="openDrawUtil(selectPointTypeEnum.add)">
          <div class="icon-fiLink iconfont fiLink-add-icon"></div>
        </li>
        <!-- 修改规划点位按钮-->
        <li class="map-button" (click)="openDrawUtil(selectPointTypeEnum.change)">
          <div class="icon-fiLink iconfont fiLink-change-plan-icon"></div>
        </li>

        <!-- 切换点位状态按钮-->
        <li class="map-button">
          <div class="icon-fiLink iconfont fiLink-point-status"
               (click)="pointStatusPanelShow = !pointStatusPanelShow; isShowSelect = false"></div>
        </li>
      </ul>
    </div>

    <!--地图上列表浮窗-->
    <div class="right-suspension-box"
         [hidden]="!isShowSelect">
      <div class="table-box">
        <span class="table-title">型号预设值</span>
        <!--型号预设置-->
        <xc-table
          [dataSet]="modelPresetDataSet"
          [tableConfig]="modelPresetTableConfig"
          [pageBean]="modelPresetPageBean"
          (pageChange)="modelPresetPageChange($event)"
        ></xc-table>
      </div>

      <!--已选智慧杆列表-->
      <div class="table-box">
        <span class="table-title">已选智慧杆</span>
        <xc-table
          [dataSet]="selectWisdomDataSet"
          [tableConfig]="selectWisdomTableConfig"
          [pageBean]="selectWisdomPageBean"
        ></xc-table>
        <!--智慧杆状态模板-->
        <ng-template #pointStatusTemp let-data="data">
          <div class="area-level">
            <i [class]="'iconfont '+data.statusIconClass "></i>
            <span [ngStyle]="data.rowStyle" class="status-text"
                  title="{{data.pointStatus | translate : pointStatusEnum: languageEnum.planProject}}">
      {{data.pointStatus | translate : pointStatusEnum: languageEnum.planProject}}
    </span>
          </div>
        </ng-template>
      </div>
    </div>
    <!-- 切换点位状态-->
    <div class="point-status" [hidden]="!pointStatusPanelShow">
      <nz-checkbox-group [(ngModel)]="checkPointStatus"
                         (ngModelChange)="checkPointStatusChange($event)"></nz-checkbox-group>
    </div>
  </div>
  <div class="mar-l16 footer-button">
    <button class="link-button margin-right20" nz-button nzType="primary"
            (click)="onSavePointInfo()">
      完成
    </button>
    <button class="link-button margin-right20" nz-button nzType="danger"
            (click)="handleCancelPointInfo()">
      {{commonLanguage.cancelText}}
    </button>
  </div>

</div>

<!--规划列表弹窗-->
<nz-modal
  *ngIf="isShowPlanList"
  [nzVisible]="isShowPlanList"
  [nzTitle]="language.addPlan"
  (nzOnOk)="handlePlanOk()"
  [nzFooter]="modalPlanFooter"
  (nzOnCancel)="handlePlanCancel()"
  nzWidth="70%">
  <xc-table
    [dataSet]="planListDataSet"
    [pageBean]="planListPageBean"
    (pageChange)="planListPageChange($event)"
    [tableConfig]="tablePlanListConfig"
  ></xc-table>
  <ng-template #modalPlanFooter>
    <button nz-button nzType="primary" class="link-button" (click)="handlePlanOk()"
            [disabled]="this.selectPlanList.length === 0">{{commonLanguage.confirm}}</button>
    <button nz-button nzType="danger" class="link-button"
            (click)="handlePlanCancel()">{{commonLanguage.cancel}}</button>
  </ng-template>
</nz-modal>

<!--规格型号弹窗-->
<app-project-product-list-selector
  *ngIf="isShowProductList"
  [productListVisible]="isShowProductList"
  (selectDataChange)="selectProductChange($event)"
></app-project-product-list-selector>


<!--批量修改型号弹窗-->
<app-change-point-model></app-change-point-model>
