@import "../../../../style-module/config";

.plan-detail {
  padding: 10px;

  .area-detail-title {
    border-left: 2px solid $sp-icon-color-3;
    padding-left: 18px;
    color: $title-color;
    font-size: $primary-title-size;
    font-weight: 900;
  }
}

::ng-deep .plan-detail {
  .ant-calendar-picker {
    width: 100% !important;
  }
}
