@import "../../../../../style-module/config";
.project-detail {
  padding: 0 16px 20px 16px;
  .page-title {
    border-left: 2px solid $detail-title-color;
    padding-left: 18px;
    color: $title-color;
    font-size: 16px;
    font-weight: 900;
  }
}
.basic-info-content {
  border-top: 1px solid #e8e8e8
}
