<div class="workforce-wrap">
  <div class="table-common-title">
    <span>{{scheduleLanguage.viewScheduling}}</span>
  </div>
  <!-- 排班表格 -->
  <div class="table-wrapper"  *ngIf="!isShowCalendar">
    <xc-table
      [dataSet]="dataSet"
      [pageBean]="pageBean"
      [tableConfig]="tableConfig"
      (pageChange)="pageChange($event)">
    </xc-table>
  </div>

  <!--排班日历-->
  <app-schedule-calendar *ngIf="isShowCalendar"
                         [isShowSearch] = "true"
                         (switchTableAndCalender)="isShowCalendar = false">
  </app-schedule-calendar>
</div>


<!--班组名称选择模板-->
<ng-template #teamSelectorTpl let-filterValue="filterValue">
  <span class="dept-name-select hidden"
        (click)="showTeamNameModal(filterValue)"
        [class.placeholder]="!filterValue.filterName"
        [title]="filterValue.filterName">{{(filterValue.filterName)||commonLanguage.clickSelect}}</span>
</ng-template>
<!--班组名称选择器-->
<app-team-name-selector *ngIf="isShowTeamSelectorModal"
                        [(isVisible)]="isShowTeamSelectorModal"
                        [selectIds]="teamNameFilter.filterValue"
                        (handleOkEvent)="handleTeamNameOk($event)">
</app-team-name-selector>
