@import '../../../../style-module/config';
.asset-growth-rate-condition {
  width: 100%;
  .asset-growth-rate-form {
    width: 100%;
  }
  .asset-growth-rate-button {
    margin: 10px 20px;
    .operation-button {
      width: 100px;
      height: 35px;
      margin-left: 30px;
    }
    .operation-button-size {
      width: 100px;
      height: 35px;
    }
  }
  .search {
    position: absolute;
    top:3px;
    border: none;
    outline: none;
    cursor: pointer;
    background: $button-danger-color;
  }
  .select-width {
    width: 90%;
  }
}