<!--form表单-->
<div class="asset-type-condition">
  <div class="asset-type-form">
    <xc-form [column]="formColumn"
             (formInstance)="formInstance($event)">
    </xc-form>
  </div>
  <div class="asset-type-button">
    <button nz-button nzType="primary" class="operation-button-size" (click)="analysis()" [disabled]="isClick">{{language.assetAnalysis.analysis}}</button>
    <button nz-button nzType="danger"  class="operation-button" (click)="reset()">{{language.assetAnalysis.reset}}</button>
  </div>
</div>

<!--区域选择器点击按钮-->
<ng-template #AreaSelectRef let-formGroup="formGroup" let-col="col">
  <div>
    <input nz-input type="text" readonly [(ngModel)]="areaName">
    <button type="button" class="search" (click)="showAreaSelect()"><i
            class="icon-l icon-search"></i></button>
  </div>

</ng-template>

<!--项目选择器点击按钮-->
<ng-template #ProjectSelectRef let-formGroup="formGroup" let-col="col">
  <div>
    <input nz-input type="text" readonly [(ngModel)]="projectName">
    <button type="button" class="search" (click)="showProjectSelect()"><i
            class="icon-l icon-search"></i></button>
  </div>

</ng-template>

<nz-modal
        [(nzVisible)]="isShow"
        [nzTitle]="modalTitle"
        [nzContent]="modalContent"
        [nzFooter]="modalFooter"
        [nzClosable]= "true"
        [nzKeyboard]="false"
        [nzMaskClosable]="false"
        (nzOnCancel)= "handleCancel()"
        [nzWidth]="900">
  <ng-template #modalTitle>
    <div>{{'选择项目'}}</div>
  </ng-template>
  <ng-template #modalContent>
    <xc-table #projectListTable
              [dataSet] ="dataSet"
              [pageBean]="pageBean"
              [tableConfig]="tableConfig"
              (pageChange)="pageChange($event)">
    </xc-table>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" class="link-button" (click)="handleCancel()">{{this.language.okText}}</button>
    <button nz-button nzType="danger" class="link-button" (click)="handleCancel()">{{this.language.cancelText}}</button>
  </ng-template>
</nz-modal>

<!--项目状态模板-->
<ng-template #projectStatusTemp let-data="data">
  <div class="area-level">
    <i [class]="'iconfont '+data.statusIconClass "></i>
    <span [ngStyle]="data.rowStyle" class="status-text"
          title="{{data.status | translate: projectStatusEnum: languageEnum.planProject}}">
      {{data.status | translate: projectStatusEnum: languageEnum.planProject}}
    </span>
  </div>
</ng-template>

<!--区域选择器-->
<xc-tree-selector
        [(xcVisible)]="isVisible"
        (selectDataChange)="selectDataChange($event)"
        [treeSelectorConfig]="treeSelectorConfig">
</xc-tree-selector>