<!--坐标调整-->
<app-adjust-coordinates [viewIndex]="viewIndex"
                        (addCoordinatesEventEmitter)="adjustCoordinatesChange()"></app-adjust-coordinates>

<!--地图分层-->
<app-facility-show *ngIf="viewIndex===this.maintenanceView" [viewIndex]="viewIndex"
                   (isShowCardEventEmitter)="facilityLayeredChange()"></app-facility-show>

<!--添加分组-->
<app-select-grouping *ngIf="roleSelect && viewIndex===this.maintenanceView"
                     (addGroupingEventEmitter)="selectGroupChange()"></app-select-grouping>

<!--项目聚合-->
<app-app-select-polymerization *ngIf="viewIndex===this.maintenanceView"></app-app-select-polymerization>
