@import "../../../../style-module/config";
.coding-standard-add {
  display: flex;
  margin-top: 20px;
  border-top: 1px solid $border-color;

  .xc-steps {
    padding-top: 80px;
    width: 186px;
    border-right: 1px solid $border-color;
  }

  .assembly {
    width: calc(100% - 186px);
    .coding-btn {
      padding-bottom: 30px;
      .next-step {
        margin: 0 10px 0 20px;
      }
      .ok-step {
        margin-right: 10px;
      }
    }
  }
}
.search {
  position: absolute;
  top:3px;
  border: none;
  outline: none;
  cursor: pointer;
  background: $button-danger-color;
}