<nz-modal [(nzVisible)]="isVisible"
          [nzWidth]="900"
          [nzTitle]="scheduleLanguage.teamMember"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          [nzMaskClosable]="false"
          (nzOnCancel)="isVisibleChange.emit(false)">
  <ng-template #modalContent>
    <div class="table-wrapper">
      <xc-table
          #tableTpl
          [dataSet]="dataSet"
          [tableConfig]="tableConfig"
          [selectedData]="selectTeamNameList"
          [pageBean]="pageBean"
          (pageChange)="teamPageChange($event)">
      </xc-table>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button class="link-button" nzType="primary" (click)="handleOk()">{{commonLanguage.confirm}}</button>
    <button nz-button class="link-button" nzType="danger" (click)="isVisibleChange.emit(false)">{{commonLanguage.cancel}}</button>
    <button nz-button class="link-button" nzType="danger" (click)="cleanUpPerson()">{{commonLanguage.cleanUp}}</button>
  </ng-template>
</nz-modal>
